/* * {
    border: 2px dashed red;
} */

.load {
    width: 40px;
    height: 40px;
}

body {
    margin:auto;
    text-align: center;
    color:white;
    background-color: rgb(43,42,47);
    font-family: DejaVu Sans Mono, monospace;
}


.layout-container {
    display: grid;
    margin: auto;
    max-width: 1000px;
    min-height: 100vh;
    grid-template-areas:
    'header header header header'
    'left left right right'
    'ldes ldes rdes  rdes'
    'footer footer footer footer';
}

.proj-items {
    margin: 30px;
    border-radius: 20px;
}

.proj-items a {
    position: relative;
    margin-bottom: 50px;
    color: rgb(43,42,47);
    padding: 10px;
    width: fit-content;
    background-color: aquamarine;
    border-radius: 8px;
    border: 2px solid aquamarine;
}

#header {
    display: flex;
    min-width: 100vh;
    background-color: rgb(62, 62, 62);
    grid-area: header;
    font-family: Verdana, sans-serif;
}

#header h1 {
    text-align: left;
}

#header img {
    position: relative;
    top: 20px;
    padding-right: 7px;
    padding-left: 7px;
    width: 45px;
    height: 45px;
}

#proj-1 {
    grid-area: left;
    margin-right:15px;
}

#proj-2 {
    grid-area: right;
    margin-left: 15px;
}

.proj-comm {
    display: none;
}

.proj-comm div {
    border: 2px solid white;
    border-radius: 10px;
    margin: 5px;
}

.interaction {
    display: flex;
}

#proj-1-descr {
    grid-area: ldes;
}

#proj-2-descr {
    grid-area: rdes;
}

#footer {
    background-color: rgb(62, 62, 62);
    grid-area: footer;
}

embed {
    margin-top: 20px;
    width: 100%;
    min-height: 500px;
    border-radius: 30px;
}

a:link {
    color: rgb(43,42,47);
}

a:link:hover {
    color:aquamarine;
    background-color: rgb(43,42,47);
}

a:visited {
    color: rgb(43,42,47);
}
a:visited:hover {
    color:aquamarine;
    background-color: rgb(43,42,47);
}

a {
    text-decoration: none;
}

#footer a {
    margin: 5px;
    margin-bottom: 0px;
    padding: 5px;
    padding-bottom: 0px;
}

